<?xml version='1.0' encoding='UTF-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-ios-finite-task" version="0.0.1">
    <name>Finite Task</name>
    <author>Kim Hansen</author>
    <description>Cordova / PhoneGap Plugin for running finite duration tasks (will also run for up to 3 minutes after the app is suspended).</description>
    <keywords>cordova, background, task, suspend</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova"         version=">=8.0.0"  />
        <engine name="cordova-plugman" version=">=4.3.0"  />
        <engine name="apple-ios"       version=">=10.0.0" />
    </engines>
    <js-module src="www/finitetask.js" name="FiniteTask">
        <clobbers target="finitetask" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FiniteTask">
                <param name="ios-package" value="FiniteTask" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/FiniteTask.h" />
        <source-file src="src/ios/FiniteTask.m" />
    </platform>
</plugin>
